table {
  width: 100%;
  margin-bottom: 20px;
}

table>thead>tr>th,
table>tbody>tr>th,
table>tfoot>tr>th,
table>thead>tr>td,
table>tbody>tr>td,
table>tfoot>tr>td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.form-item-captcha-response label {
  display: block;
}
.form-item-captcha-response .form-control {
  display: inline;
  width: auto;
  margin: 0 1px;
}
